#if($jiraKey && $jiraKeyNumber)${jiraKey}-${jiraKeyNumber} #end" +
"#if($type)${type}#end #if($subject)${subject}#end\n" +
"#if($body)${newline}${newline}${body}#end\n" +
"#if($changes)${newline}${newline}BREAKING CHANGE: ${changes}#end\n" +
"#if($closes)${newline}${newline}Closes ${closes}#end\n" +
"#if($skipCi)${newline}${newline}${skipCi}#end
